* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html, body {
  overflow: hidden; }

#content {
  display: flex; }
  #content .content-part {
    width: 100%; }
  #content #left-content {
    background-color: white;
    width: 300px;
    border-right-color: lightgray;
    border-right-width: 1px;
    border-right-style: solid; }
    #content #left-content #menu {
      width: 100%;
      height: 64px;
      line-height: 64px;
      float: right;
      border-bottom-color: lightgray;
      border-bottom-width: 1px;
      border-bottom-style: solid; }
      #content #left-content #menu ul, #content #left-content #menu li {
        display: inline;
        margin-right: 4px;
        margin-left: 4px; }
        #content #left-content #menu ul .btn, #content #left-content #menu li .btn {
          font-size: 12px;
          color: black;
          text-decoration: none; }
        #content #left-content #menu ul .btn:hover, #content #left-content #menu li .btn:hover {
          color: #3498db;
          cursor: pointer; }
      #content #left-content #menu .left {
        float: left; }
      #content #left-content #menu .right {
        float: right; }
    #content #left-content #head {
      height: 120px;
      border-bottom-color: lightgray;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: flex;
      align-items: center;
      justify-content: center; }
      #content #left-content #head #head-form {
        width: 80%; }
      #content #left-content #head #search-input {
        width: 100%;
        height: 32px;
        font-size: 100%;
        outline: none; }
    #content #left-content #body ul, #content #left-content #body li {
      list-style: none;
      width: 100%; }
      #content #left-content #body ul .btn, #content #left-content #body li .btn {
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: white;
        border-bottom-color: lightgray;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        color: black;
        text-decoration: none;
        display: block;
        margin-bottom: 1px;
        transition: .3s; }
      #content #left-content #body ul .btn:hover, #content #left-content #body li .btn:hover {
        background-color: #3498db;
        transition: .3s;
        cursor: pointer; }
  #content #right-content {
    height: 100vh;
    max-height: 100%;
    overflow: scroll; }
    #content #right-content #content-head {
      width: 100%;
      height: 64px;
      background-color: white;
      border-bottom-color: lightgray;
      border-bottom-width: 1px;
      border-bottom-style: solid; }
    #content #right-content form .intext {
      height: 32px;
      font-size: 100%;
      display: block;
      outline: none;
      width: 50%; }
    #content #right-content form .textarea {
      width: 50%;
      display: block; }

.video-flow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .video-flow .video-item {
    width: 300px;
    height: 350px;
    outline-color: lightgray;
    outline-style: solid;
    outline-width: 1px;
    margin: 4px;
    background-color: white;
    position: relative;
    transition: .3s; }
    .video-flow .video-item img {
      width: 300px; }
    .video-flow .video-item .video-data {
      width: 100%;
      height: 32px;
      line-height: 32px;
      background-color: lightgray;
      color: #303030;
      position: absolute;
      left: 0;
      bottom: 0; }
      .video-flow .video-item .video-data ul, .video-flow .video-item .video-data li {
        display: inline;
        margin-left: 4px;
        margin-right: 4px; }
      .video-flow .video-item .video-data .left {
        float: left; }
      .video-flow .video-item .video-data .right {
        float: right; }
  .video-flow .video-item:hover {
    outline-color: #3498db;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: .3s; }
  .video-flow .video-href {
    text-decoration: none;
    color: black; }

.text {
  padding: 12px; }

.video-area {
  width: 80%;
  margin: auto; }
  .video-area #description {
    height: 120px;
    overflow: scroll; }
  .video-area #video-data {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: lightgray;
    color: #303030; }
    .video-area #video-data ul, .video-area #video-data li {
      display: inline;
      margin-left: 4px;
      margin-right: 4px; }
    .video-area #video-data .left {
      float: left; }
    .video-area #video-data .right {
      float: right; }

.video-plank {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative; }
  .video-plank .col {
    width: 100%; }
  .video-plank .icon-col {
    width: 20%;
    border-right-color: lightgray;
    border-right-width: 1px;
    border-right-style: solid;
    display: flex;
    justify-content: center;
    align-items: center; }
    .video-plank .icon-col img {
      width: 80%;
      max-height: 80px; }
  .video-plank .content-col {
    position: relative; }
  .video-plank .video-data {
    width: 100%;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background-color: lightgray;
    color: #303030;
    position: absolute;
    left: 0;
    bottom: 0; }
    .video-plank .video-data ul, .video-plank .video-data li {
      display: inline;
      margin-left: 4px;
      margin-right: 4px; }
    .video-plank .video-data .left {
      float: left; }
    .video-plank .video-data .right {
      float: right; }

/*# sourceMappingURL=style.css.map */
