$red: #c0392b;
$blue: #3498db;

*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

html, body{
	overflow:hidden;
}

#content{
	display:flex;

	.content-part{
		width:100%
	}

	#left-content{
		background-color:white;
		width:300px;
		border-right-color: lightgray;
		border-right-width:1px;
		border-right-style:solid;

		#menu{
			width:100%;
			height:32px;
			line-height: 32px;
			float:right;
			border-bottom-color: lightgray;
			border-bottom-width:1px;
			border-bottom-style:solid;

			ul,li{
				display:inline;
				margin-right:4px;
				margin-left:4px;

				.btn{
					font-size:12px;
					color:black;
					text-decoration: none;
				}

				.btn:hover{
					color:$blue;
					cursor:pointer;
				}
			}

			.left{
				float:left;
			}

			.right{
				float:right;
			}
		}

		#head{
			height:120px;
			border-bottom-color: lightgray;
			border-bottom-width:1px;
			border-bottom-style:solid;
			display:flex;
			align-items:center;
			justify-content: center;

			#head-form{
				width:80%;
			}

			#search-input{
				width:100%;
				height:32px;
				font-size:100%;
				outline:none;
			}
		}

		#body{
			ul,li{
				list-style: none;
				width:100%;

				.btn{
					width:100%;
					height:32px;
					line-height:32px;
					background-color:white;
					border-bottom-color: lightgray;
					border-bottom-width:1px;
					border-bottom-style:solid;
					color:black;
					text-decoration: none;
					display:block;
					margin-bottom: 1px;
					transition:.3s;
				}

				.btn:hover{
					background-color:$blue;
					transition:.3s;
					cursor:pointer;
				}
			}
		}
	}

	#right-content{
		height:100vh;
		max-height: 100%;
		overflow: scroll;

		#content-head{
			width:100%;
			height:64px;
			background-color:white;
			border-bottom-color: lightgray;
			border-bottom-width:1px;
			border-bottom-style:solid;
		}

		form{
			.intext{
				height:32px;
				font-size: 100%;
				display:block;
				outline:none;
				width:50%;
			}

			.textarea{
				width:50%;
				display:block;
			}
		}
	}
}

.video-flow{
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;

	.video-item{
		width:300px;
		height:350px;
		outline-color:lightgray;
		outline-style:solid;
		outline-width:1px;
		margin:4px;
		background-color:white;
		position: relative;
		transition:.3s;

		img{
			width:300px;
		}

		.video-data{
			width:100%;
			height:32px;
			line-height: 32px;
			background-color:lightgray;
			color:rgb(48,48,48);
			position:absolute;
			left:0;
			bottom:0;

			ul,li{
				display:inline;
				margin-left:4px;
				margin-right:4px;
			}

			.left{
				float:left;
			}

			.right{
				float:right;
			}
		}
	}

	.video-item:hover{
		outline-color:$blue;
		background-color:$blue;
		color:white;
		cursor:pointer;
		transition:.3s;
	}

	.video-href{
		text-decoration: none;
		color:black;
	}
}

.text{
	padding:12px;
}

.video-area{
	width:80%;
	margin:auto;

	#description{
		height:120px;
		overflow:scroll;
	}

	#video-data{
		width:100%;
		height:32px;
		line-height: 32px;
		background-color:lightgray;
		color:rgb(48,48,48);

		ul,li{
			display:inline;
			margin-left:4px;
			margin-right:4px;
		}

		.left{
			float:left;
		}

		.right{
			float:right;
		}
	}
}